 
.wrapper { 
  background-image: url("../../images/swiss.jpg");
  background-size:cover;
  background-repeat:no-repeat;
	position:absolute;
 	width: auto;
  height: 100%; 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
}


.name {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0%;
  left:0%;
}

.title {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 30%;
  left:0%;
}

h1 {
	font-size: 6rem; 
	white-space: nowrap; 
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 4rem; 
	white-space: nowrap; 
	font-weight: bold;
	color: white;
}


#home-button {
   position: absolute;
   	bottom: 10%;
   right: 15%;
}

.about-me {
	color: #B0C4DE;
	font: bold;
	font-size: 2rem; 
	position: absolute;
  white-space: wrap; 
 	bottom: 10%;
 	left: 10%;
  text-decoration: none;
}
.my-work {
  color: #B0C4DE;
  font: bold;
  font-size: 2rem; 
  position: absolute;
  white-space: wrap; 
  bottom: 10%;
  left: 40%;
  text-decoration: none;
}
.reach-me {
  color: #B0C4DE;
  font: bold;
  font-size: 2rem; 
  position: absolute;
  white-space: wrap; 
  bottom: 10%;
  right: 10%;
  text-decoration: none;
}

.main-page-home-button {
	color: white;
    background-color: red;
    top:50%; 
    left:50%;
  	width: 100px;
  	height: 100px;
}

/*LeftSlider {
  position: fixed;

  width: 50%;
	height: 100%;
}

RightSlider {
  position: fixed;

	width: 50%;
	height: 100%;
}*/

