

body {
  
}

body::after {
  background: url('./images/swiss.jpg');
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;

  
  
}


h1 {
	    font-size: 6rem; 
}

 
