.about-container {
	background-color: #444;
  	background-size: cover;
    position:relative;
    background-repeat:no-repeat;
    width: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    margin: 0;
    padding: 0;
}

h1.lg-heading {
    font-size: 6rem;
    color: white;
    margin-left: 30px;
    padding-top: 0;
    margin-top: 0;
}

h2.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 30px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.nav-home {
  position: absolute;
  font-size: 2em;
  color: white;
  padding: 0px;
  margin: 0px;
  top: 0%;
  right:0%;
}

.about-grid {
	display: grid;
  	grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    /*position:relative;*/
  	grid-gap: 5px;
  	grid-template-columns: repeat(3, 1fr);
    margin: 0px;
}

.bio-image {
	grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid;
    width: 200px;
  	height: 200px;
}

.bio {
    grid-area: bio;
    font-size: 1.5rem;
    color: #eece1a;
    padding: 0px;

}

.bio > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

.job {
    padding: 0.5rem;
}

.job > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}



