 header {
 width:100%; 
 height:100px;
 
 background:url('./images/swiss.jpg');
 background-repeat: no-repeat; /* Do not repeat the image */
 background-position: center center;
 background-size: cover;


}

.my-picture {
 width:auto; 
 height:300px;
 border-style: solid;

 background:url('./images/self.jpg');
 background-repeat: no-repeat; /* Do not repeat the image */
 background-position:50% 50%;
 border-radius: 50%;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 500px;
    margin-left: 500px;
    text-align: center;
    display: block;

}

.flex-container {
  display: flex;
}

.flex-container > div {

  background-color: DodgerBlue;
  width:1000px; 
 height:100px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
text-align: center;
}

