
.right-slider-closed {
  display: flex;
  float: right;
  position: fixed;
	width: 50%;
	height: 100%;
  top: 0;
  right: 0;
  background-color: #C8C8C8;
  opacity: .9;
}

.right-slider-opened {
  display: flex;
  float: right;
  position: fixed;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #C8C8C8;
  opacity: .9;
}


.show-right-slider {
  display: flex;
  float: right;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #C8C8C8;
  opacity: .9;
  animation-name: show;
  animation-duration: 2s;

}

.hide-right-slider {
  display: flex;
  float: right;
  position: fixed;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #C8C8C8;
  opacity: .9;
  animation-name: hide;
  animation-duration: 2s;

}

@keyframes show {
    0%   {width: 0%;}
    100% {width: 50%;}

}


@keyframes hide {
    0%   {width: 50%;}
    100% {width: 0%;}
}

/*.open-portfolio-button {
  color: white;
  background-color: green;
  top:50%; 
  left:50%;
  width: 100px;
  height: 100px;
}
*/
/*.hide-portfolio-button {
  color: white;
  background-color: green;
  opacity: 0;
  top:50%; 
  left:50%;
  width: 0px;
  height: 0px;
  animation-name: hideButton;
  animation-duration: 3s;
}*/


/*
@keyframes hideButton {
  0%   {width: 100px;   height: 100px; opacity: .9; display: inline;}
  100% {width: 0px; height:0px; min-width:0; opacity: 0; display: none;}
}
*/